@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  width: 1455px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px;
  align-self: center;
}

a {
  text-decoration: none;
}

.first-section {
  background-color: #1f2937;
  padding: 18px 222px 200px 208px;
  display: flex;
  flex-direction: column;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bolder;
}

h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.links a,
.header-content p,
.image-placeholder {
  color:#e5e7eb;
  font-size: 18px;
}

.header {
  display: flex;
  justify-content: space-between;
}